<div class="flex flex-col m-20">
  <div class="mb-20">
    <div class="divider">北海道のいいところ、おすすめしあおう</div>
    <div class="flex justify-center text-center m-10">
      地元民行きつけのお店や、スポットを投稿して、「ここよかったよ！」を教え合おう
    </div>
  </div>

  <div class="mb-20">
    <div class="divider">みんなの投稿を見に行こう</div>
    <div class="flex justify-center text-center m-10">
      道民も、道外からの旅行でも！各地の道民のおすすめの場所を探そう
    </div>
  </div>

  <div class="mb-20">
    <div class="divider">北海道に行こう</div>
    <div class="flex justify-center text-center m-10">
      あなたの街から北海道まで、意外と近いかも。
    </div>
  </div>
</div>