<div class="flex flex-col justify-center p-5">
  <div class="m-5 flex justify-center">
    <div class="text-xl font-bold">自分の投稿</div>
  </div>
  <div class="p-5">
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <%= render 'mypage/shared/post', post: post %>
        <div class="flex justify-center">
          <%= paginate @posts, theme: 'pagination' %>
        </div>
      <% end %>
    <% else %>
      <p class="p-10">投稿がありません</p>
    <% end %>
  </div>
</div>