<div class="p-8">
  <div class="mb-8 flex justify-center">
    <div class="text-xl font-bold">道内の移動時間計算ツール</div>
  </div>
  <div class="mt-5 flex flex-wrap justify-center items-center">
    <div id="route-time" class="text-lg px-5">移動時間を計算したい、2つの地点を地図上で選択してください。</div>
    <button id="clear-button" class="btn btn-info">もう一度計算する</button>
  </div>
</div>

<div id="distance-map" class="w-auto h-[400px] sm:h-[700px] lg:h-[600px]"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap"></script>