<div class="flex flex-col p-8">
  <div class="mx-auto w-full md:w-[700px] my-5">
    <% if @weather %>
      <div class="flex items-center justify-center space-x-2 sm:space-x-4">
        <p class="text-lg sm:text-xl font-semibold">現在の札幌の気温：<%= @weather[:temp] %>℃</p>
        <%= image_tag(weather_icon(@weather[:condition]), class: "w-16 h-16") %>
      </div>

      <div>
        <div class="flex items-center justify-center">
          <p class="mt-16 sm:mt-20 text-lg sm:text-xl font-semibold">おすすめの服装</p>
        </div>
        <div class="mt-4 px-2 sm:px-5">
          <!-- 25度より上で天気が悪くない時 -->
          <% if (@weather[:temp] > 25.0 && @fair_conditions.include?(@weather[:condition])) ||
                (@weather[:temp] > 25.0 && @others_conditions.include?(@weather[:condition])) %>

            <p>暑すぎ</p>

          <!-- 20〜25度で天気がいい時 または 25度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > 20.0 && @fair_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 20.0 && @others_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 25.0 && @inclement_conditions.include?(@weather[:condition])) %>

            <p>港町は風があり、盆地は蒸し暑くなります。</p>
            <p>日中は半袖で過ごせます。</p>

          <!-- 15〜20度で天気がいい時 または 20度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > 15.0 && @fair_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 15.0 && @others_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 20.0 && @inclement_conditions.include?(@weather[:condition])) %>

            <p>港町は風があり、盆地は蒸し暑くなります。</p>
            <p>日中は半袖で過ごせます。日中この気温でも夜は冷え込むことがあるので上着が必要です。</p>

          <!-- 10〜15度で天気がいい時 または 15度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > 10.0 && @fair_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 10.0 && @others_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 15.0 && @inclement_conditions.include?(@weather[:condition])) %>

            <p>過ごしやすい気温です。</p>
            <p>春服や秋服などの薄手の長袖や薄手のアウターで過ごせます。</p>

          <!-- 5〜10度で天気がいい時 または 10度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > 5.0 && @fair_conditions.include?(@weather[:condition])) ||
                  (@weather[:temp] > 5.0 && @others_conditions.include?(@weather[:condition])) ||
                  (@weather[:temp] > 10.0 && @inclement_conditions.include?(@weather[:condition])) %>

            <p>ちょっと涼しい</p>

          <!-- 0〜5度で天気がいい時 または 5度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > 0.0 && @fair_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 0.0 && @others_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 5.0 && @inclement_conditions.include?(@weather[:condition])) %>

            <p>少し肌寒いはる</p>

          <!-- -5〜0度で天気がいい時 または 0度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > -5.0 && @fair_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > -5.0 && @others_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > 0.0 && @inclement_conditions.include?(@weather[:condition])) %>

            <p>冬にしてはあったかい、冬と春の間くらい</p>

          <!-- -10〜-5度で天気がいい時 または -5度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > -10.0 && @fair_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > -10.0 && @others_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > -5.0 && @inclement_conditions.include?(@weather[:condition])) %>

            <p>普通に寒い</p>

          <!-- -15〜-10度で天気がいい時 または -10度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > -15.0 && @fair_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > -15.0 && @others_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] > -10.0 && @inclement_conditions.include?(@weather[:condition])) %>

            <p>結構寒い</p>

          <!-- -15度以下の時 または -15度より上で天気が悪い時 -->
          <% elsif (@weather[:temp] > -15.0 && @inclement_conditions.include?(@weather[:condition])) ||
                   (@weather[:temp] <= -15.0) %>

            <p>ガチで寒い</p>
          <% end %>
        </div>
      </div>
    <% else %>
      <p>天気情報を取得できません</p>
    <% end %>
  </div>
</div>