<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <%= button_to "利用規約", terms_of_service_path, method: :get %>
    <%= button_to "プライバシーポリシー", privacy_policy_path, method: :get %>
    <%= button_to "お問い合わせ", '#', method: :get %>
  </nav>
  <aside>
    <p>© 2023 - satou haruka</p>
  </aside>
</footer>