<!-- マップを表示する要素 -->
<div id="map" class="w-full h-screen"></div>

<script>
  // 地図を初期化する関数
  function initMap() {
    // 地図要素を取得する（マーカーを表示させるために必要）
    const mapElement = document.getElementById('map');

    // 地図のオプション
    const mapOptions = {
      center: { lat: 43.534001, lng: 142.774103 }, // 地図の初期表示位置
      zoom: 7 // ズームレベル
    };

    // 地図を指定した要素に表示
    const map = new google.maps.Map(mapElement, mapOptions);

    // マーカーを追加（Postの情報からマーカーを追加する）
    <% @posts.each do |post| %>
      var marker = new google.maps.Marker({ //繰り返しの時はconstではなくvarで定義
        position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>}, // 投稿の緯度経度情報
        map: map,
      });

      // マーカーをクリックすると投稿詳細に遷移
      marker.addListener('click', function() {
        window.location.href = '<%= post_path(post) %>'; // 投稿詳細ページを開く
      });
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script>
